.main {
  background-image: url(/src/sprites/common/bg.png);
  margin: 0 auto;
  width: 1375px;
  height: 918px;

  .solutions {
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    color: white;
    padding-top: 45px;
    text-shadow: 0px 3px 0 rgba(0, 0, 0, 0.48);
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0.1%, rgba(0, 0, 0, 0.45) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.9);
  }

  .panel__group {
    display: flex;
    margin-top: 10px;

    .panel__left {
      display: block;
      height: 320px;
      width: 33%;
      background: linear-gradient(to right, rgba(1, 1, 1, 0.75), rgba(50, 50, 50, 0.75), rgba(1, 1, 1, 0.75));
      color: white;
      margin-top: 120px;

      .hdr__panel {
        height: 35px;
        text-transform: uppercase;
        background-color: black;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0px 0px 12px;
      }
      .list-left {
        > li {
          color: #d7d7d7;
          margin-top: 5px;
        }
      }
      .panel_call {
        width: 100%;
        padding-bottom: 15px;

        .panel_img{
          height: 36px;
          padding: 15px;
        }
        .button-call {
          width: 100%;
          padding-bottom: 15px;

          .call-title {
            font-size: 16px;
          }
          .call-number {
            font-size: 33px;
          }
        }
      }
    }
    /*---left-panel-end---*/
    .panel__center {
      min-height: 480px;
      border: 10px solid rgba(255,255,255,0.6);
      border-radius: 15px;
    }
    /*------*/
    .panel__right {
      display: block;
      height: 316px;
      width: 33%;
      float: right;
      background-color: $black;
      margin-top: 120px;
      border-radius: 0 0 4px 0;

      .hdr__panel__right {
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 #626262;
        color: white;
        background: linear-gradient(180deg, rgba(0, 0, 0,0.16) -90%, rgba(255, 255, 255, 0.16) 150%, rgba(0, 0, 0, 0.16));
        padding: 10px 0 10px 10px;

      }
      .list-right {
        color: #969898;
        li {
        margin: 0;
        }
      }
      .list {
        display: flex;
        background-image: url(/src/sprites/common/glow2.png);
        background-repeat: no-repeat;
        background-position-x:100px;
        padding-top: 10px;
        padding-bottom: 28px;
        background-position-y: -55px;


        .list-items {
          width: 60%;
        }
        .list-term-img {
          width: 50%;
          margin-top: 20px;
          margin-left: -30px;
        }
      }
      .button {
        height: 65px;
        background-color: rgba(54, 91, 170, 0.8);
        display: flex;
        border-radius: 0 0 4px 0;
        margin-top: 4px;
      }
      .arrow {
        position: relative;
        z-index: 1;
        width: 70px;
        background: url(/src/sprites/common/arrow.png);
        background-repeat: no-repeat;
      }
      .arrow:after {
        content: "";
        position: absolute;
        z-index: -1;
        /* bottom: 10px; */
        right: 0px;
        left: 13px;
        width: 50px;
        height: 60px;
        background: url(/src/sprites/common/arrow.png);
      }

      .free-term-text {
        color: #99999a;
        font-size: 10px;
        margin-left: 10px;
      }
      .button-question {
        margin-left: -20px;
        margin-top: 10px;
      }
      .button-answer {
        text-transform: uppercase;
        color: white;
        font-style: italic;
        font-weight: bold;
      }
      .button-learn {
        font-size: 15px;
        color: #d4ca1f;
        font-style: italic;
      }
    }
  }
  .call {
    width: 1375px;
    background-color: black;
    color: white;
    margin-left: -170px;
    margin-top: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}