.main{
  background-image: url(/src/sprites/common/bg.png);
  margin: 0 auto;
  width: 1375px;
  height: 918px;

  .solutions{
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 45px;
    text-shadow: -2px 0 -2px #8b8778;
  }

  .panel__group {
    display: inline-block;
    margin-top: 10px;

    .panel__left {
      display: inline-block;
      height: 320px;
      width: 33%;
      background: linear-gradient(to right, rgba(1, 1, 1, 0.8), rgba(50, 50, 50, 0.8), rgba(1, 1, 1, 0.8));
      color: white;
      margin-bottom: 50px;

      .hdr__panel {
        height: 35px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0px 0px 12px;
      }
      .panel_call{
        width: 100%;
      }
    }
    /*---left-panel-end---*/
    .panel__center{
      width: 33%;
      height: 520px;
      background-color: white;
    }
    .panel__right{
      height: 316px;
      width: 33%;
      float: right;

      .hdr__panel__right{
        height: 70px;
        font-size: 37px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 #626262;
        color: white;
        background: linear-gradient(to right, rgba(1, 1, 1, 0.8), rgba(50, 50, 50, 0.8), rgba(1, 1, 1, 0.8));

        li{
          list-style-image: url(/src/sprites/common/check.png);

        }
      }
    }
  }

.call{
  width: 1375px;
  background-color: black;
  color: white;
  margin-left: -170px;
  margin-top: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
}