.hdr{
  width: 1375px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 12px;
  background-color: white;
  margin: 0 auto;
  .container{


  }
  .hdr__logo{
    background-image: url(/src/sprites/common/logo.png);
    background-repeat: no-repeat;
    height: 36px;
    width: 133px;
  }}
.hdr__call{
  background-image: url(/src/sprites/common/telephonetest.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 257px;


}