$black: #000;
$white:#fff;
$yellow: #f8ef00;
$green-grad: linear-gradient(to top, #15a915 0, #30d230 100%);
$green-grad-dark: linear-gradient(to top, #065e06 0, #69b543 100%);
$green-grad-hover: linear-gradient(to bottom, #1e9044 0, #69b543 100%);

$grey: #f2f2f2;
$dark-grey: #545454;


