html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  min-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.rel {
  position: relative;
}

.container {
  width: 1033px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;

  &--end {
    justify-content: flex-end;
  }

  &--col {
    flex-direction: column;
  }
}

.dp_phone_container_closed {
  display: none;
}

.dp_phone_container_open {
  display: block;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

div, p, h1, h2 {
  max-height: 90000em;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

hr {
  box-sizing: content-box;
  height: 0;
}

sub,
sup {
  vertical-align: baseline;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.valid {
  border: 1px solid green !important;
  background-repeat: no-repeat;
  background-position: 98% center;
  background-color: #fff !important;
}

.invalid {
  border: 1px solid red !important;
  background-repeat: no-repeat;
  background-position: 98% center;
  background-color: #f2dcdc !important;
}

.list-checked {
  > li {
    list-style-image: url(/src/sprites/common/check.png);
    margin-bottom: 8px;
  }
}

.text-yellow {
  color: #f8ef00;
  font-weight: bold;
}
.step__choice{
  font-size: 25.4px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 7px;
  font-weight: bold;
  border: 1px solid #a15f10;
  background: radial-gradient(at top,rgb(255, 214, 48)35%, rgb(255, 127, 2)75%);
  width: 304px;
  text-align: center;
  margin-left: 33px;
  border-radius: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.85);
  box-shadow: 0px -3px 7px 0px rgba(255, 255, 255, 0.75);
}


